.stories_container {
    width: 90%;
    padding: 25px;
    border-radius: 5px;
    margin-top: 15px;
    background-color: white;
}

.stories_header {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 20px;
    padding-left: 10px;
    justify-content: space-between;
}

.create_story_button {
    margin-left: 20px;
}

.stories_title {
    font-size: 21px;
    font-weight: 500;
}

.stories_anchor_link {
    display: inline-block;
    font-size: 15px;
    font-weight: 300;
    margin-left: 10px;
    margin-top: 5px;
    color: rgb(120, 120, 255);
    cursor: pointer;
}

.stories_anchor_link svg {
    margin-left: 3px;
}

.stories_list {
    padding: 10px;
    max-height: 70vh;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
}
