
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
  
li {
    float: right;
}
  
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
li a:hover:not(.active) {
    background-color: #111;
}
  
.nav-block{
    display: flex;
    flex-direction: row;

    background-color: rgb(37, 36, 36);

}
  .nav-block-title{
    margin-left: 3%;
    color: aliceblue;
  }
  .nav-block-title .omks{
    font-family: 'Amatic SC', cursive;
  }
  .nav-block-links{
    margin-top: 25px;
    display: flex;
    /* flex-direction: row; */
    margin-left: 12%;
  }
  .nav-block-links .link{
    font-size: 25px;
    margin-left: 85px;
    text-decoration: none;
    color: aliceblue;
    font-family: 'Amatic SC', cursive;
    list-style-type: none;
  }
  .nav-block-btn{
    margin-top: 25px;
    margin-left: 22%;
  }