.contacts__wrapper{
    width: 63vw;
    height: 33vh;
    padding: 25px;
    border-radius: 5px;
    margin-top: 15em;

}

.contacts_title{
    transform: translate(0,-120px);
    display: block;
    text-align: center;
    max-width: 710px;
    margin: 0 auto;
    position: relative;
    z-index: 48;
    box-sizing: border-box;
    color: white;
}
    
    



.contacts__heading{
    font-size: 2.875rem;
    line-height: 1.30435em;
    top: 40px;
    font-size: 45px;
    font-weight: 500;
    margin-bottom: 10px;
}

.contacts__desc{
    font-weight: 400;
    text-align: center;
    font-size: 21px;
    font-weight: 500;
}

.contacts_container{
    display: flex;
    justify-content: space-between;
}

.contact_info{    
    margin-right: 20px;
    transform: translate(0,-28px);
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 32px 40px;
    background-color: #fff;
    border: 1px solid #eaf0f6;
    margin-bottom: 40px;
}


span{
    text-align: center;
}


.contact_btn:hover{
    background-color: rgb(236, 200, 122);
    transition: 1s;
}

a {
    text-decoration: none;
} 